@font-face {
    font-family: new_zelek;
    font-style: normal;
    font-weight: 400;
    src: local('New_Zelek'),
    local('New_Zelek-Normal'),
    url('/client/font/new_zelek/new_zelek.ttf') format('woff'),
    url('/client/font/new_zelek/new_zelek.ttf') format('truetype')
}

@font-face {
    font-family: europeext normal;
    font-style: normal;
    font-weight: 400;
    src: local('EuropeExt Normal'),
    local('EuropeExt-Normal'),
    url('/client/font/europeext-normal/europeext-normal.woff') format('woff'),
    url('/client/font/europeext-normal/europeext-normal.ttf') format('truetype')
}

/* main */

html {
    cursor: url('/client/image/cursor/default.png') 11 11, auto;
}

body {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin: 0;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    z-index: 0;
}

div {
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(0, 255, 255, 0.8);
    left: -9999px;
    padding: 8px 8px 0 8px;
    position: fixed;
    top: -9999px;
    max-width: 80%;
    z-index: 1;
}

@media screen and (min-width: 1000px){

    div {
        max-width: 800px;
    }

}

table {
    border-collapse: collapse;
    margin-bottom: 8px;
    width: 100%;
}

th {
    color: rgba(0, 255, 255, 0.8);
    font-weight: normal;
}

th, td {
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
}

td {
    border-top: 1px solid rgba(0, 255, 255, 0.8);
}

td:nth-child(n+3) {
    text-align: right;
}

a {
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-family: new_zelek, monospace;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

p {
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 8px 0;
}

p span {
    color: rgba(255, 255, 255, 0.4);
}

ul {
    margin: 0 0 8px 0;
}

li {
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 8px 0;
}

input[type=text] {
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(0, 255, 255, 0.8);
    color: rgba(255, 255, 255, 1);
    cursor: url('/client/image/cursor/text.png') 11 11, auto;
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    padding: 7px;
    text-align: center;
    transition: all 0.2s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input:hover, input:focus {
    background-color: rgba(0, 255, 255, 0.4);
}

button {
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(0, 255, 255, 0.8);
    color: rgba(255, 255, 255, 1);
    cursor: url('/client/image/cursor/pointer.png') 11 11, auto;
    display: block;
    font-family: new_zelek, monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    padding: 8px;
    text-align: center;
    transition: all 0.2s;
    width: 100%;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.4);
}

button:focus {
    outline: 0;
}

button.input {
    float: right;
    margin-left: 8px;
    width: 30px;
}

button.close {
    border-right: 0;
    border-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

/* tool */

#tool {
    left: -9999px;
    top: -9999px;
    background: none;
    border: 0;
    padding: 0;
}

#tool div {
    width: 120px;
    position: static;
    float: left;
    margin: 0 0 0 8px;
    cursor: url('/client/image/cursor/pointer.png') 11 11, auto;
    font-family: new_zelek, monospace;
    font-size: 12px;
    line-height: 12px;
    padding: 8px;
    text-align: center;
    transition: all 0.2s;
}

#tool div:hover {
    background-color: rgba(0, 255, 255, 0.4);
}

#tool div:focus {
    outline: 0;
}

#tool div:first-child {
    margin: 0;
}

#tool span {
    display: block;
}

#tool span:first-child,
#tool span:last-child {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
}

#tool span:first-child {
    text-align: left;
}

#tool span:nth-child(2) {
    margin: 4px 0;
}

#tool span:last-child {
    text-align: right;
}

.cool-down {

    background-color: rgba(255, 0, 255, 0.2) !important;
    border: 1px solid rgba(255, 0, 255, 0.8) !important;

}

.cool-down:hover {

    background-color: rgba(255, 0, 255, 0.1) !important;
    border: 1px solid rgba(255, 0, 255, 0.4) !important;
    color: rgba(255, 255, 255, 0.4) !important;
    cursor: url('/client/image/cursor/pin.png') 11 11, auto !important;

}