@font-face {
    font-family: new_zelek;
    font-style: normal;
    font-weight: 400;
    src: local('New_Zelek'),
    local('New_Zelek-Normal'),
    url('/client/font/new_zelek/new_zelek.ttf') format('woff'),
    url('/client/font/new_zelek/new_zelek.ttf') format('truetype')
}

@font-face {
    font-family: europeext normal;
    font-style: normal;
    font-weight: 400;
    src: local('EuropeExt Normal'),
    local('EuropeExt-Normal'),
    url('/client/font/europeext-normal/europeext-normal.woff') format('woff'),
    url('/client/font/europeext-normal/europeext-normal.ttf') format('truetype')
}

html {
    cursor: url('/client/image/cursor/default.png') 11 11, auto;
}

body {
    background: rgba(32, 34, 37, 1) url('/client/image/tile.png');
    color: rgba(255, 255, 255, 1);
    margin: 0;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    z-index: 0;
}

div {
    z-index: 1;
}

table {
    border-collapse: collapse;
}

th {
    color: rgba(0, 255, 255, 0.8);
    font-weight: normal;
}

th, td {
    padding: 8px;
    font-size: 12px;
}

td {
    border-top: 1px solid rgba(0, 255, 255, 0.8);
}

td:nth-child(n+3) {
    text-align: right;
}

.panel {
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(0, 255, 255, 0.8);
    left: -9999px;
    padding: 8px 8px 0 8px;
    position: fixed;
    top: -9999px;
}

.header {
    font-family: new_zelek, monospace;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.text {
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    text-align: center;
}

.text span {
    color: rgba(255, 255, 255, 0.4);
}

input[type=text] {
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(0, 255, 255, 0.8);
    color: rgba(255, 255, 255, 1);
    cursor: url('/client/image/cursor/text.png') 11 11, auto;
    font-family: 'europeext normal', monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    padding: 7px;
    text-align: center;
}

input:hover, input:focus {
    background-color: rgba(0, 255, 255, 0.4);
}

.button {
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid rgba(0, 255, 255, 0.8);
    cursor: url('/client/image/cursor/pointer.png') 11 11, auto;
    font-family: new_zelek, monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    padding: 8px;
    text-align: center;
    transition: all 0.2s;
}

.button:hover {
    background-color: rgba(0, 255, 255, 0.4);
}

.button-input {
    float: right;
    margin-left: 8px;
}

#tool {
    left: -9999px;
    position: fixed;
    top: -9999px;
}

#tool .button {
    margin: 0 0 0 8px;
}

#tool .button:first-child {
    margin: 0;
}